/* To Do
    Add image class
    make buttons functional
*/

body {
    background-color: rgb(33, 37, 41);
  
  }
  .centerText {
    display: flex;
    justify-content: center;
  }
  /* ----------------------------Tittle Page ---------------------*/ 
  h1 {
    font-size: 3rem;
    display: flex;
  justify-content: center;
  padding: 20px;
  margin: 50px;
  height: 70px;
  background-color: rgba(7, 7, 7, 0.301);
  border-radius: 10px;
  color: bisque;
}
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: grey;
}

.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.startGameButton {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 10px;
}
/* -------------------------- Game buttons and text Page --------------------*/
.buttonOptions {
  font-size: 1.5rem;
  text-align: center;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  color: bisque;
}
#buttonContainer {
  display: flex;
  margin-top: 40px;
  justify-content: space-evenly;
}
/* Story Text */
p {
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
  padding: 55px;
  margin-top: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  color: bisque;
}
/* ------------------------------- End Screen ------------------------------*/
.replayButtonContainer {
  display: flex;
  justify-content: end;
  align-items: center;
}
.replayButton {
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
  margin-right: 300px;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 10px;
}

.imageformat {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
